<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docs</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<style>
    .title {
        margin: 24px 0 24px 18px;
    }

    span {
        font-size: 24px;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: #ccc;
    }

    a {
        text-decoration: none;
    }
</style>

<body>
    <div class="navbar">
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/create">Create</a></li>
        </ul>
    </div>

    <div class="list">
        <div class="title"><span>List Users</span></div>
        <table>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Name</th>
                <th>City</th>
                <th>Action</th>
            </tr>

            <% listUsers.forEach(function(user) { %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.email %></td>
                    <td><%= user.name %></td>
                    <td><%= user.city %></td>
                    <td>
                        <a href="/update/<%= user.id %>">Edit</a>
                        <button>Delete</button>
                    </td>
                </tr>
            <% }) %> 
        </table>
    </div>
</body>

</html>